# requirements.txt
# this file will contain all of the required third-party packages
# you can install all of these packages by running the following command
# pip3 install -r requirements.txt

pyDes==2.0.1
PyJWT==1.7.1
pymysql==0.9.3
aiohttp==3.5.4
tormysql==0.4.2
requests==2.22.0
aiomysql==0.0.20
